@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click here to view hero database <a href="https://hero.fandom.com/wiki/Heroes_Wiki">hero db</a>.</p>
    <p>Or select "register" above to register a new hero.</p>
</div>
